[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pymysql = "*"
drf-yasg = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.7"
