[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
PyMySQL = "*"
drf-yasg = "*"
cryptography = "*"
drf-nested-routers = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
